<%- include('includes/head.ejs') %>
<form action="/users" method="post">
    <div class="form-control">
        <label for="name">Enter Name:</label>
        <input type="text" name="name" id="name" placeholder="Enter Name Here">
    </div>
    <br>
    <button type="submit">Submit</button>
</form>

<%- include('includes/end.ejs') %>
